// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.profile-photo {
  width:130px;
  height:auto;
  /*border-radius: 100%;*/
}

.flex-menu {
  display:flex;
}
.listylenone{
  list-style: none !important;
}

.flex-menu li:not(:last-child) {
  margin-right:40px;
}
.smallfontsize{
  color: grey;
  font-size: 12px;
}


.profile_image200{
  height: 200px; width: 200px; border-radius: 100%;
}
.btnpadding30{
  padding: 0px 40px;
}

/*
Comment box Style
*/


.detailBox {
  /*width:320px;*/
  border:1px solid #bbb;
  margin:50px;
}
.titleBox {
  background-color:#fdfdfd;
  padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
  padding:10px;
  border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width:18%;
}
.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top:10px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:500px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:40px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}
.width100{
  width:100% !important;
}
.width50{
  width:50% !important;
}
.displayflex{
  display: flex !important;
}

/*
End comment box style
*/